@using ApplicationCore.Entities
@using ApplicationCore.Interfaces
@inject IRepository<Product> ProductRepo
@{
    ViewData["Title"] = "Home Page";
}

<h1>Products (Test)</h1>

@foreach (var product in await ProductRepo.GetAllAsync())
{
    <p>
        <img src="~/img/products/@product.PictureUri" alt="product" height="108" />
        <p>@product.Id</p>
        <p>@product.Name</p>
        <p>@product.Price</p>
    </p>
}
