@{
    ViewBag.Title = "Order Confirmed";
}

<h1>Thank you for your order :)</h1>

<p>
    We have successfully received your payment.
    Your order will be processed shortly.
</p>

<img src="~/img/logo/thanks.jpg" alt="thanks" height="360px"/>

